footer.footer
	.footer__inner.site-container
		.footer__logo
			.footer__logo-i
				picture
					source(srcset="./img/logo.webp" type="image/webp")
					source(srcset="./img/logo.jpg" type="image/jpg")
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="165" alt="img")
		.footer__content
			.footer__phone
				a(href="tel:+380673130282") +38 (067) 313 02 82
				a(href="tel:+380673130282") +38 (067) 313 02 82
			.footer__menu.custom-row
				.footer__menu-i.custom-col.nav-link
					a(href="#about") О нас
				.footer__menu-i.custom-col.nav-link
					a(href="#advantage") Преимущества
				.footer__menu-i.custom-col.nav-link
					a(href="#price") Стоимость
				.footer__menu-i.custom-col.nav-link
					a(href="#gallery") Фото
				.footer__menu-i.custom-col.nav-link
					a(href="#contact") Контакты

.popup.callback
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__content.callback__content



