header.header
	.header__inner.site-container
		.header__logo
			.header__logo-i
				picture
					source(srcset="./img/logo.webp" type="image/webp")
					source(srcset="./img/logo.jpg" type="image/jpg")
					img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" width="349" height="117" alt="img")
		.header__content
			.header__phone
				a(href="tel:+380673130282") +38 (067) 313 02 82
				a(href="tel:+380673130282") +38 (067) 313 02 82
			.header__menu
				.header__menu-i
					a(href="#about") О нас
					a(href="#advantage") Преимущества
					a(href="#gallery") Фото
					a(href="#price") Стоимость
					a(href="#contact") Контакты

		.header__mobile-menu
			a(href="javascript:void(0)").header__mobile-menu-i.tablet#menu-btn
